<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
 http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<bean id="mockDataLayer"
		class="fr.insa.mock.ProductServiceMockDaoImpl" />
	<bean id="productServiceImpl"
		class="fr.insa.service.impl.ProductServiceImpl">
		<property name="productServiceMockImpl">
			<ref bean="mockDataLayer" />
		</property>
	</bean>
	<bean id="productOrderingServiceImpl"
		class="fr.insa.service.impl.ProductOrderingServiceImpl">
		<property name="productServiceMockImpl">
			<ref bean="mockDataLayer" />
		</property>
	</bean>
	<jaxws:endpoint id="productService"
		implementor="#productServiceImpl" address="/productService" />
		<jaxws:endpoint id="productOrderingService"
		implementor="#productOrderingServiceImpl" address="/productOrderingService" />
</beans>